.main-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 4px 0 4px 0
}

.thumb-container {
    padding: 3px;
    margin: 4px 0 4px 0;
    display: flex;
    flex-direction: column;
}

.viewer-container {
    padding: 3px;
    margin: 4px 0 4px 0
}

.page-operation-container {
    display: flex;
    flex-direction: column
}

.bottom-container {
    display: flex;
    flex-direction: column
}

#status {
    width:670px;
    height:150px;
    overflow:scroll;
    border:solid 1px #CCC;
}

#FileSelectionList {
    box-sizing: content-box;
    max-width: 600px
}

.atala_thumb_caption{
    bottom: 5px;
    height: 1.5em;
    background: yellow;
}

.atala_thumb_caption:hover {
    font-weight: bold;
}